
<% if @card.present? %>
  <h2><%= @card.name %></h2>
  <%= image_tag("#{@card.image_uris}", :class => "card-image") %>
  <h3><%= @card.card_type %></h3>
  <p><%= @card.card_text %></p>
  <p>Rarity: <%= @card.rarity %></p>
  <p>Colors: <%= @card.colors %></p>
  <p>Power: <%= @card.power %></p>
  <p>Toughness: <%= @card.toughness %></p>
  <p>Legal: <%= @card.legalities %></p>
  <p> <%=link_to "View on Scryfall", @card.scryfall_uri, target: "_blank" %></p>
<% end %>
