<h2>this is the card form partial</h2>

<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field_tag :deck, value: @deck %>
  <%= form.hidden_field_tag :scryfall_uri, value: @card.scryfall_uri %>
  <%= form.hidden_field_tag :name, value: @card.name %>
  <%= form.hidden_field_tag :colors, value: @card.colors %>
  <%= form.hidden_field_tag :mana_cost, value: @card.mana_cost %>
  <%= form.hidden_field_tag :image_uris, value: @card.image_uris %>
  <%= form.hidden_field_tag :card_type, value: @card.card_type %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
