<p id="notice"><%= notice %></p>

<h1>Find a Card:</h1>

<div class="container--form-container">
  <%= form_with url: scryfall_path, method: "get", remote: true, class: "form-inline", id: "card-search-form" do %>
    <%= text_field_tag :card_name, nil, class: "form-control", placeholder: "Card" %>
    <%= submit_tag "Search", name: nil, class: "btn btn-primary", id: "btn-card-search" %>
  <% end %>
</div>

<div class="container--results-container">
  <% if @card.present? %>
    <h2><%= @card.name %></h2>
    <%= image_tag("#{@card.image_uris}", :class => "card-image") %>
    <h3><%= @card.card_type %></h3>
    <p><%= @card.card_text %></p>
    <p>Rarity: <%= @card.rarity %></p>
    <p>Colors: <%= @card.colors %></p>
    <p>Power: <%= @card.power %></p>
    <p>Toughness: <%= @card.toughness %></p>
    <p>Legal: <%= @card.legalities %></p>
    <p> <%=link_to "View on Scryfall", @card.scryfall_uri, target: "_blank" %></p>
  <% end %>

</div>

<h2><%= link_to "New Deck", new_deck_path %></h2>
